{% extends 'base.html.twig' %}

{% block body %}

    {% if session.get('pseudo') %}
        <!-- Admin Bar -->
        {{ include('adminbar.html.twig') }}
    {% endif %}

    <!-- Navigation -->
    {{ include('nav.html.twig') }}

    <!-- Page Header -->
    {{ include('header.html.twig') }}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for article in articles  %}

                <div class="post-preview">
                    <a href="../public/index.php?route=article&articleId={{ article.id }}">
                        <h2 class="post-title">
                            {{ article.title|raw }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.content|striptags|slice(0, 150)~ '…' }}
                        </h3>
                    </a>
                    <p class="post-meta">Publié par
                        <a href="#">{{ article.author }}</a>
                        le {{ article.createdat }}
                    </p>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Anciens articles &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {{ include ('footer.html.twig') }}

{% endblock %}

