{% extends 'base.html.twig' %}

{% block title %}Tout les chapites | Jean Forteroche{% endblock %}

{% block body %}

    {% if session.get('pseudo') and session.get('role') == 'admin' or session.get('role') == 'user' %}
        <!-- Admin Bar -->
        {{ include('admin/topbar.html.twig') }}
    {% endif %}

    <!-- Navigation -->
    {{ include('nav.html.twig') }}

    <!-- Page Header -->
    {{ include('headers/all-posts.html.twig') }}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">


                {% for article in articles|reverse %}

                    {% if loop.last == false %}
                    <div class="post-preview">
                        <a href="../public/index.php?route=article&articleId={{ article.id }}">
                            <h2 class="post-title">
                                {{ article.title|raw }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ article.content|u.truncate(150, '...')|raw }}
                            </h3>
                        </a>
                        <p class="post-meta">Publié par
                            <a href="#">{{ article.author }}</a>
                            le {{ article.createdat }}
                        </p>
                    </div>
                    <hr>
                    {% else %}
                        <div class="post-preview">
                            <a href="../public/index.php?route=article&articleId={{ article.id }}">
                                <h2 class="post-title">
                                    {{ article.title|raw }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ article.content|u.truncate(150, '...')|raw }}
                                </h3>
                            </a>
                            <p class="post-meta">Publié par
                                <a href="#">{{ article.author }}</a>
                                le {{ article.createdat }}
                            </p>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    {{ include ('footer.html.twig') }}

{% endblock %}

