<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if comments|length > 1 %}
            <h4>{{ comments|length}} Commentaires</h4>
                {% elseif comments|length == 1%}
                    <h4>1 Commentaire</h4>
                    {% else %}
                <h4>Pas de commentaires</h4>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for comment in comments %}
                <div class="comment-container">
                    <div class="img-container">
                        <img src="img/user-min.jpg">
                    </div>
                    <div class="comment-content">
                        <div class="comment-content-header">
                            <p class="name">{{ comment.pseudo }}</p>
                            <p class="meta">Posté le {{ comment.createdAt|slice(0, 10) }} à {{ comment.createdAt|slice(10, 16)  }}</p>
                            {% if comment.flag == 1 %}
                                <a href="index.php?route=flagComment&commentId={{ comment.id }}" class="link-disabled"><i class="fas fa-flag"></i> Ce commentaire a déjà été signalé</a>
                            {% else %}
                                <a href="index.php?route=flagComment&commentId={{ comment.id }}" title="Signaler ce commentaire" class="link"><i class="far fa-flag"></i></a>
                            {% endif %}
                        </div>
                        <div>
                            {{ comment.content }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h4 class="comment-title">Laisser un commentaire </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto comment-form">
            <form method="post" action="index.php?route=addComment&articleId={{ article.id }}">
                <label for="content">Message</label>
                {% if errors.content is defined %}
                    <p class="error_msg">{{ errors.content }}</p>
                    <textarea id="content" name="content" rows="6" class="error_txt"></textarea>
                {% else %}
                    <textarea id="content" name="content" rows="6"></textarea>
                {% endif %}
                <div class="subrow-comment">
                    <div class="subrow-comment-left">
                        <label for="pseudo">Identifiant</label><br>
                        {% if errors.pseudo is defined %}
                            <p class="error_msg">{{ errors.pseudo }}</p>
                            <input type="text" id="pseudo" name="pseudo" class="error_txt">
                        {% else %}
                            <input type="text" id="pseudo" name="pseudo">
                        {% endif %}
                        <br>
                        <input type="submit" value="Laisser un commentaire" id="submit" name="submit">
                    </div>
                    <div class="subrow-comment-right">
                        <div class="g-recaptcha" data-sitekey="6LeWiiQaAAAAAGDxfvl6tZL__udXIARFQr_Wsvay"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>