{% extends 'base.html.twig' %}

{% block title %}Billet simple pour l'Alaska | Jean Forteroche{% endblock %}

{% block body %}

    {% if session.get('pseudo') and session.get('role') == 'admin' or session.get('role') == 'user' %}
        <!-- Admin Bar -->
        {{ include('admin/topbar.html.twig') }}
    {% endif %}

    <!-- Navigation -->
    {{ include('nav.html.twig') }}

    <!-- Page Header -->
    {{ include('headers/home.html.twig') }}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ include('author-prev.html.twig') }}

                <hr class="hr-sep">

                {% for article in articles|slice(0, 3)  %}

                <div class="post-preview">
                    <a href="../public/index.php?route=article&articleId={{ article.id }}">
                        <h3 class="post-title">
                            {{ article.title|raw }}
                        </h3>
                        <h4 class="post-subtitle">
                            {{ article.content|striptags|slice(0, 150)~ '…' }}
                        </h4>
                    </a>
                    <p class="post-meta">Publié par
                        <a href="#">{{ article.author }}</a>
                        le {{ article.createdat }}
                    </p>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary btn-margin float-right" href="../public/index.php?route=all">Touts les chapitres &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    {{ include ('footer.html.twig') }}

{% endblock %}

