{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/single.css" />
{% endblock %}

{% block body %}

    {% if session.get('pseudo') and session.get('role') == 'admin' %}
        <!-- Admin Bar -->
        {{ include('admin/topbar.html.twig') }}
    {% endif %}

    <!-- Navigation -->
    {{ include('nav.html.twig') }}

    <!-- Header -->
    {{ include('headers/single.html.twig') }}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {{ article.content|raw }}
                </div>
            </div>
        </div>
    </article>

    <hr class="hr-min">

    {{ include('form-comment.html.twig') }}

    <hr>

    {{ include('footer.html.twig') }}

{% endblock %}